* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.cont {
  width: 100%;
  background-color: #191919;
  height: 30px;
  /* padding-left: 370px;
    padding-right: 370px; */
}

.icon-cont {
  width: 950px;
  display: flex;
  direction: row;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
}
.left {
  display: flex;
}

.right {
  display: flex;
}

.icon {
  color: #707070;
  /* margin: 4px; */
  font-size: small;
}

.text {
  color: #707070;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 2px;
  padding-right: 6px;
}

.rightborder {
  padding-right: 6px;
  border-right: 1px solid;
}

.bg-container {
  height: 800px;
  width: 100%;
  /* border: 1px solid red; */
  background-image: url("image1");
}

.navbar {
  width: 960px;
  display: flex;
  /* margin-left: 370px;
    margin-right: 370px; */
  /* border:1px solid white; */
  /* height:75px; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

  .logo {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-right: 80px;
    font-family: "Montserrat", sans-serif;
    color: white;
    padding-left: 1px;
  
  }

  .nav_links {
    margin-right: 10px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 18px 0px;
}

li a {
  text-decoration: none;
}

li a {
  font-family:"Montserrat", sans-serif;
  color: white;
  font-weight:300px;;
  font-size: 14px;

}

.icons {
  color: white;
  padding: 10px 0px 10px 10px;
  /* margin-right: 10px; */
  text-align: right;
}

i.white-small {
  color: white;
  font-size: small;
  margin-right:15px
 
}

.fav-icons-container {
  margin-left: 80px;
  margin-top: 18px;
  
}

.fav-icons {
  color: #fff;
}
